html {
    background-color: rgb(24,25,26);
}

body {
    margin: 0;
}

/* Top navigation menu */
#topNav {
    font-family: 'Open Sans';
    width: 100%;
    height: 60px;
    background-color: rgb(36,37,38);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(54,55,56);
}

#topNav p {
    font-size: 20px;
    margin-right: 30px;
    color: rgb(230, 230, 230);
}

.menuButton {
    transition: all 0.3s;
    padding: 2px 6px;
    width: 35px;
    margin-left: 15px;
}

.menuButton:hover {
    cursor: pointer;
    background-color: rgba(65, 65, 65, 0.658);
    border-radius: 10px;
}

.menuButton div {
    width: 25px;
    height: 3px;
    background-color: rgb(230, 230, 230);
    margin: 7px auto;
    border-radius: 3px;
}



/* The side navigation menu */
#sideNav {
    font-family: 'Open Sans';
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(36,37,38);
    border-right: 1px solid rgb(54,55,56);
    overflow-x: hidden;
    transition: 0.5s;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#sideNav a {
    padding: 15px 8px 15px 40px;
    text-decoration: none;
    font-size: 25px;
    color: #7e7e7e;
    display: block;
    transition: 0.3s;
}

#sideNav a:hover {
    color: #ffffff;
    margin: 10px 0;
}

#sideNav .closebtn {
    position: absolute;
    top: 7px;
    right: 30px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0px
}


.authForm {
    color: white;
    font-family: 'Open Sans';
    font-size: 20px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.authForm p {
    margin: 0 auto;
    font-size: 45px;
    margin-top: 20px;
}

.authForm label {
    margin: 15px 0;
    text-align: center;
}

.authForm input {
    margin: 0 auto;
    height: 30px;
    width: 40%;
    padding: 10px;
    font-size: 20px;
}

.authForm button {
    font-family: 'Open Sans';
    font-size: 18px;
    width: 18%;
    margin: 0 auto;
    margin-top: 20px;
    height: 40px;
    border: none;
    transition: all 0.3s;
    background-color: #e2e2e2;
    outline: none;
}

.authForm button:hover {
    width: 24%;
    border-radius: 11px;
    cursor: pointer;
    background-color: #aafcbf;
}


.createTask {
    color: white;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Open Sans';
}

.createTask div {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.createTask label {
    font-size: 18px;
    margin: 12px 0;
}

.createTask input {
    height: 40px;
}

.subtaskContainer {
    flex: 80%;
    width: 100% !important;
    display: flex;
    flex-direction: column;
}

.subtaskInput {
    width: 100% !important;
    flex-direction: row !important;
}

.subtaskInput input {
    width: 85%;
}

.subtaskInput button {
    margin: auto;
    height: 80%;
    width: 8%;
    border: none;
    transition: all 0.3s;
    background-color: #e2e2e2;
    outline: none;
}

.subtaskInput button:hover {
    border-radius: 20px;
    cursor: pointer;
    background-color: #aafcbf;
}

.submitTaskButton {
    font-family: 'Open Sans';
    font-size: 18px;
    width: 18%;
    height: 40px;
    border: none;
    transition: all 0.3s;
    background-color: #e2e2e2;
    outline: none;

    margin: 0 auto;
}

.submitTaskButton:hover {
    width: 24%;
    border-radius: 11px;
    cursor: pointer;
    background-color: #aafcbf;
}


.allTasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 25px;
}

.taskCard {
    font-family: 'Open Sans';
    border: 1px solid rgb(138, 138, 138);
    border-radius: 10px ;
    padding: 10px 20px;
    width: 350px;
    margin: 0 40px;
    color: white;
}

.taskCardTitle {
    margin-top: 0px;
    margin-bottom: 6px;
    font-size: 30px;
}

.taskCardDescription {
    display: flex;
    padding-right: 3px;
    
    height: 150px;
    overflow-x: hidden;
}

.taskCardDescription::-webkit-scrollbar {
    width: 6px;
}

.taskCardDescription::-webkit-scrollbar-track {
    
    border-radius: 10px;
}

.taskCardDescription::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
}

.taskCompletionBar {
    height: 3px;
    background-color: rgb(112, 250, 112);
    transition: all 0.5s;
}

.viewTaskButton {
    font-family: 'Open Sans';
    float: right;
    background-color: rgb(24,25,26);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 25%;
    outline: none;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

.viewTaskButton:hover {
    width: 30%;
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: black;
}

.taskCardDeleteButton {
    position: relative;
    float: right;
    top: 0px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0px;
    text-decoration: none;
    font-size: 30px;
    color: rgb(170, 170, 170);
    display: block;
    transition: 0.3s;
}

.taskCardDeleteButton:hover {
    color: rgb(14, 13, 13);
}