<!DOCTYPE html>
<html>

<head>
    <title>Task App</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>

    <nav id="topNav">
        <div class="menuButton" onclick="openNav()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        {% if current_user %}
        <p>Welcome, {{ current_user }}</p>
        {% endif %}
    </nav>

    <nav id="sideNav">
        <div style="margin-top: 30px;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/tasks">Tasks</a>
            <a href="/create_task">Create</a>
        </div>
        {% if current_user %}
        <a style="margin-bottom: 30px;" href="/logout">Sign Out</a>
        {% else %}
        <a style="margin-bottom: 30px;" href="/login">Login</a>
        {% endif %}
    </nav>

    {% block content %}{% endblock %}
    <script src="/static/index.js"></script>
</body>

</html>