{% extends 'base.html' %}
{% block content %}

<div>
    <div>
        <form class="authForm" method="POST" action="{{ url_for('register') }}">
            <p>Register</p>

            <hr style="width: 65%;">

            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username">

            <label for="pass">Password</label>
            <input type="password" name="pass" placeholder="Password">

            <button type="submit">Register</button>
            <a href="/login">Already have an account? Sign in here.</a>
        </form>
    </div>
</div>

{% endblock content %}